In [1]:
import pandas as pd

### Folders to work

We have to use the dataset "results-with-evidence-full.txt" from the next folders:
- AD (atomic dermatitis) = "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/ad"
- CD (Crohn's Disease) = "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/cd"
- ASA (Asthma) = "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/asa"
- COPD (Chronic Obstructive Pulmonary Disorder) = "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/copd"
- HS (Hidratenitis Suppertiva) = "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/hs"
- PSO (Psoriasis) = "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/pso"
- SLE (Systemic Lupus Erthymatosus) = "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/sle"
- T1D (Type 1 Diabetes) = "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/t1d"
- UC (Ulcerative Colitis) = "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/uc"

In [2]:
folders = {
    "AD": "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/ad/dtl-surfaceome-secretome-equal_0.1",
    "CD": "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/cd/dtl-surfaceome-secretome-equal_0.1",
    "ASA": "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/asa/dtl-surfaceome-secretome-equal_0.1",
    "COPD": "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/copd/dtl-surfaceome-secretome-equal_0.1",
    "HS": "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/hs/dtl-surfaceome-secretome-equal_0.1",
    "PSO": "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/pso/dtl-surfaceome-secretome-equal_0.1",
    "SLE": "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/sle/dtl-surfaceome-secretome-equal_0.1",
    "T1D": "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/t1d/dtl-surfaceome-secretome-equal_0.1",
    "UC": "cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/uc/dtl-surfaceome-secretome-equal_0.1"
}

### Training data

In [3]:
folder = 'AD'
csv_path = '../../../'+ folders[folder] + '/results-with-evidence-full.txt'

In [4]:
csv_path

'../../../cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/results/current_version/v2.0c/ad/dtl-surfaceome-secretome-equal_0.1/results-with-evidence-full.txt'

In [5]:
df = pd.read_csv(csv_path, sep='\t')

In [6]:
df.head()

,Gene 1,Gene 2,AD Score,TIE,TIE Bulk RNA,Genetics,"Genetics, Rare Variants",Knowledge Graph Connectivity,"Pathway Coverage, Positive",Proteomics,...,"SC KO, positive","Pathway Coverage, Negative","SC KO, Negative","DTL, Th1-17","DTL, Th2",Immune Competition,CScore,"Single Cell Co-dysregulation, positive","Single Cell Co-dysregulation, negative","Single Cell Co-dysregulation, mixed"
0,IL22,MMP12,5.376584,0.974365,1.0,0.593204,0.0,0.818245,0.000000,0.902994,...,0.000000,0.0,0.000000,NaN,NaN,0.0,0.000000,72.325136,0.000000,4.574925
1,AREG,CCL5,5.126559,0.584504,1.0,0.000000,0.0,0.697587,0.572231,0.002588,...,0.273019,0.0,-0.112872,NaN,NaN,NaN,0.065755,12.633273,0.000000,19.653821
2,CCL3,MMP9,5.124927,0.662121,1.0,0.000000,0.0,0.912395,0.094449,0.000918,...,0.464270,0.0,-0.056532,NaN,NaN,NaN,0.095987,0.000000,158.680901,0.000000
3,CXCL8,MMP9,5.121890,0.728792,1.0,0.000000,0.0,0.972016,0.099010,0.000000,...,0.508250,0.0,-0.065159,NaN,NaN,0.0,0.131484,0.000000,120.994744,0.000000
4,AREG,ITGB2,5.069493,0.515902,1.0,0.000000,0.0,0.659660,0.478307,0.164692,...,0.357286,0.0,-0.175586,NaN,NaN,NaN,0.053436,0.000000,0.000000,20.436369

### Columns to use

The next are the one that are gonna be used to train the models
- 'TIE'
- 'TIE Bulk RNA'
- 'Genetics'
- 'Genetics, Rare Variants'
- 'Knowledge Graph Connectivity'
- 'Pathway Coverage, Positive'
- 'Proteomics'
- 'Single Cell DE'
- 'Single Cell Expression'
- 'Single Cell Specificity'
- 'Ligand Receptor Significance'
- 'Spatial Inflamed vs Noninflamed'
- 'Spatial Disease vs Healthy'
- 'SC KO, positive'
- 'Pathway Coverage, Negative'
- 'SC KO, Negative'

In [7]:
final_df = df[['Gene 1', 'Gene 2', 'TIE', 'TIE Bulk RNA', 'Genetics',
       'Genetics, Rare Variants', 'Knowledge Graph Connectivity',
       'Pathway Coverage, Positive', 'Proteomics', 'Single Cell DE',
       'Single Cell Expression', 'Single Cell Specificity',
       'Ligand Receptor Significance', 'Spatial Inflamed vs Noninflamed',
       'Spatial Disease vs Healthy', 'SC KO, positive',
       'Pathway Coverage, Negative', 'SC KO, Negative']]

In [8]:
final_df.head()

,Gene 1,Gene 2,TIE,TIE Bulk RNA,Genetics,"Genetics, Rare Variants",Knowledge Graph Connectivity,"Pathway Coverage, Positive",Proteomics,Single Cell DE,Single Cell Expression,Single Cell Specificity,Ligand Receptor Significance,Spatial Inflamed vs Noninflamed,Spatial Disease vs Healthy,"SC KO, positive","Pathway Coverage, Negative","SC KO, Negative"
0,IL22,MMP12,0.974365,1.0,0.593204,0.0,0.818245,0.000000,0.902994,0.415046,0.195128,0.307783,0.169819,0.000000,0.000000,0.000000,0.0,0.000000
1,AREG,CCL5,0.584504,1.0,0.000000,0.0,0.697587,0.572231,0.002588,0.175511,0.473162,0.192210,0.542481,0.609430,0.116707,0.273019,0.0,-0.112872
2,CCL3,MMP9,0.662121,1.0,0.000000,0.0,0.912395,0.094449,0.000918,0.432339,0.374286,0.505097,0.522113,0.213472,0.000000,0.464270,0.0,-0.056532
3,CXCL8,MMP9,0.728792,1.0,0.000000,0.0,0.972016,0.099010,0.000000,0.499769,0.446458,0.563021,0.336794,0.032941,0.000000,0.508250,0.0,-0.065159
4,AREG,ITGB2,0.515902,1.0,0.000000,0.0,0.659660,0.478307,0.164692,0.192836,0.579722,0.082402,0.637007,0.463761,0.113504,0.357286,0.0,-0.175586

### Target data

In [9]:
competition_score_path = '../../dataset/GENS_DEVELOPMENT_SCORE.csv'

In [ ]:
#comp_df = pd.read_csv(competition_score_path)

In [ ]:
#comp_df.head()

Calculate the croos product of every gen

In [13]:
def create_unique_pairs_batched(df, batch_size=1000, output_file='unique_pairs.csv'):
    genes_data = df[['gene_symbol', 'development_score_log_norm']].copy()
    n_genes = len(genes_data)
    
    print(f"Total de genes: {n_genes}")
    print(f"Total de pares únicos: {n_genes * (n_genes + 1) // 2:,}")
    
    first_batch = True
    
    for i in range(n_genes):
        # Solo combinar con genes desde i en adelante
        genes_from_i = genes_data.iloc[i:].copy()
        gene_i = genes_data.iloc[i]
        
        result_batch = pd.DataFrame({
            'gene_symbol_1': gene_i['gene_symbol'],
            'gene_symbol_2': genes_from_i['gene_symbol'].values,
            'score_product': gene_i['development_score_log_norm'] * genes_from_i['development_score_log_norm'].values
        })
        
        result_batch.to_csv(
            output_file,
            mode='a' if not first_batch else 'w',
            header=first_batch,
            index=False
        )
        
        first_batch = False
        
        if i % 1000 == 0:
            print(f"Procesado: {i:,} / {n_genes:,} genes")
    
    print(f"Completado! Archivo guardado en: {output_file}")

# Usar la función
create_unique_pairs_batched(comp_df, output_file='unique_pairs.csv')

Total de genes: 58786
Total de pares únicos: 1,727,926,291
Procesado: 0 / 58,786 genes
Procesado: 1,000 / 58,786 genes
Procesado: 2,000 / 58,786 genes
Procesado: 3,000 / 58,786 genes
Procesado: 4,000 / 58,786 genes
Procesado: 5,000 / 58,786 genes
Procesado: 6,000 / 58,786 genes
Procesado: 7,000 / 58,786 genes
Procesado: 8,000 / 58,786 genes
Procesado: 9,000 / 58,786 genes
Procesado: 10,000 / 58,786 genes
Procesado: 11,000 / 58,786 genes
Procesado: 12,000 / 58,786 genes
Procesado: 13,000 / 58,786 genes
Procesado: 14,000 / 58,786 genes
Procesado: 15,000 / 58,786 genes
Procesado: 16,000 / 58,786 genes
Procesado: 17,000 / 58,786 genes
Procesado: 18,000 / 58,786 genes
Procesado: 19,000 / 58,786 genes
Procesado: 20,000 / 58,786 genes
Procesado: 21,000 / 58,786 genes
Procesado: 22,000 / 58,786 genes
Procesado: 23,000 / 58,786 genes
Procesado: 24,000 / 58,786 genes
Procesado: 25,000 / 58,786 genes
Procesado: 26,000 / 58,786 genes
Procesado: 27,000 / 58,786 genes
Procesado: 28,000 / 58,786 genes
Procesado: 29,000 / 58,786 genes
Procesado: 30,000 / 58,786 genes
Procesado: 31,000 / 58,786 genes
Procesado: 32,000 / 58,786 genes
Procesado: 33,000 / 58,786 genes
Procesado: 34,000 / 58,786 genes
Procesado: 35,000 / 58,786 genes
Procesado: 36,000 / 58,786 genes
Procesado: 37,000 / 58,786 genes
Procesado: 38,000 / 58,786 genes
Procesado: 39,000 / 58,786 genes
Procesado: 40,000 / 58,786 genes
Procesado: 41,000 / 58,786 genes
Procesado: 42,000 / 58,786 genes
Procesado: 43,000 / 58,786 genes
Procesado: 44,000 / 58,786 genes
Procesado: 45,000 / 58,786 genes
Procesado: 46,000 / 58,786 genes
Procesado: 47,000 / 58,786 genes
Procesado: 48,000 / 58,786 genes
Procesado: 49,000 / 58,786 genes
Procesado: 50,000 / 58,786 genes
Procesado: 51,000 / 58,786 genes
Procesado: 52,000 / 58,786 genes
Procesado: 53,000 / 58,786 genes
Procesado: 54,000 / 58,786 genes
Procesado: 55,000 / 58,786 genes
Procesado: 56,000 / 58,786 genes
Procesado: 57,000 / 58,786 genes
Procesado: 58,000 / 58,786 genes
Completado! Archivo guardado en: unique_pairs.csv

In [10]:
combined_genes_score_path = "unique_pairs.csv"

In [11]:
combined_df = pd.read_csv(combined_genes_score_path)

/opt/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
combined_df.head()

  gene_symbol_1 gene_symbol_2  score_product
0          IL22          IL22       0.000100
1          IL22         MMP12       0.000793
2          IL22       IL18RAP       0.000000
3          IL22          CSF2       0.009871
4          IL22         CCL17       0.002256

### Synergy data

It can be added to the training data

In [13]:
synergy_path = ""

In [14]:
if folder in ["HS", "T1D", "CD", "UC", "SLE", "PSO"]:
    synergy_path = "../../../cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/scoring/M6_Validation/DTL/na.dtl.pbmc.pbmc.dtl_first.cytokine.custom.th1-17.hgnc.either.2d.txt.gz"
else: 
    synergy_path = "../../../cloud-data/its-cmo-darwin-magellan-workspaces-folders/WS_PMCB/BisCiT_Repository/scoring/M6_Validation/DTL/na.dtl.pbmc.pbmc.dtl_first.cytokine.custom.th2.hgnc.either.2d.txt.gz"

In [18]:
synergy_df = pd.read_csv(synergy_path, sep='\t')

In [19]:
synergy_df.head()

,hgnc_id,AOC3,APOA1,CD19,CD2,CD28,CD38,CD40LG,CD52,CD6,...,TLR4,TNF,TNFRSF4,TNFSF12,TNFSF13,TNFSF13B,TNFSF14,TNFSF15,TNFSF4,TSLP
0,AOC3,NaN,NaN,NaN,0.149503,NaN,-0.433832,-0.497219,-0.946818,-0.217865,...,0.484279,-0.044846,NaN,NaN,NaN,0.252261,NaN,0.304771,-0.018014,0.030056
1,APOA1,NaN,NaN,NaN,-0.050800,NaN,-0.106959,-0.065580,-0.139641,NaN,...,-0.216877,NaN,NaN,NaN,NaN,0.244687,0.192409,-0.158345,-0.623019,0.462384
2,CD19,NaN,NaN,NaN,0.441647,NaN,1.000000,-0.085939,NaN,0.197634,...,NaN,-0.027051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CD2,0.391909,NaN,0.440277,NaN,NaN,NaN,0.184906,-0.318333,NaN,...,NaN,0.195465,NaN,NaN,NaN,0.227356,0.399483,0.430062,NaN,0.340099
4,CD28,NaN,NaN,0.701815,NaN,NaN,0.364797,NaN,NaN,NaN,...,NaN,0.084447,NaN,NaN,NaN,NaN,0.167012,-0.573543,NaN,0.404279